<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_member.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.4/dist/sweetalert2.min.css" rel="stylesheet">
    <title>Edit a Member</title>
</head> 
<body>
    <h1>Edit a Member</h1>
    <div class="container">
        <form method="POST">
            <div class="form-group">
                <label for="Nom">Nom:</label>
                <input type="text" name="Nom" value="{{ member.Nom }}" required>
            </div>

            <div class="form-group">
                <label for="Prenom">Prénom:</label>
                <input type="text" name="Prenom" value="{{ member.Prenom }}" required>
            </div>

            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" name="Email" value="{{ member.Email }}" required>
            </div>

            <div class="form-group">
                <label for="Role">Rôle:</label>
                <select id="role" name="Role" required>
                    <option value="Président" {% if member.Role == 'President' %}selected{% endif %}>Président</option>
                    <option value="Vice-Président" {% if member.Role == 'Vice-Président' %}selected{% endif %}>Vice-Président</option>
                    <option value="Secrétaire Général" {% if member.Role == 'Secrétaire Général' %}selected{% endif %}>Secrétaire Général</option>
                    <option value="Trésorier" {% if member.Role == 'Trésorier' %}selected{% endif %}>Trésorier</option>
                    <option value="Membre" {% if member.Role == 'Membre' %}selected{% endif %}>Membre</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Club_id">Club ID:</label>
                <select name="Club_id" id="Club_id">
                    <option value="1" {% if member.Club_id == 1 %}selected{% endif %}>FGE Inpt</option>
                    <option value="2" {% if member.Club_id == 2 %}selected{% endif %}>FGE Ensias</option>
                    <option value="3" {% if member.Club_id == 3 %}selected{% endif %}>FGE Insea</option>
                </select>
            </div> 

            <button type="submit">Edit Member</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.4/dist/sweetalert2.all.min.js"></script>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
               Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "{{ messages[0]}}"
                    });
            </script>
        {% endif %}
    {% endwith %}
</body>
</html>