<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Employés RH</title>
    <link rel="stylesheet" href="../static/members.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.4/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="/static/images/Asset 1.png">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100..900&display=swap" rel="stylesheet">
</head> 
<body>
    <div class="sidebar">
        <div class="sidebar-logo"><a href="/dashboard">FGE</a></div>
        <ul class="sidebar-menu">
            <li>
                <a href="/members"><i class="fas fa-users"></i> Membres</a>
            </li>
            <li>
                <a href="/sponsors"><i class="fas fa-handshake"></i> Sponsors</a>
            </li>
            <li class="active">
                <a href="/employe_rh"><i class="fas fa-users"></i> Employés RH</a>
            </li> 
            <li>
                <a href="/events"><i class="fas fa-calendar-alt"></i> Events</a>
            </li>
            <li>
                <a href="/participants"><i class="fas fa-user-friends"></i> Participants</a>
            </li>
            <li>
                <a href="/logout" onclick="return confirm('Êtes-vous sûr de vouloir vous déconnecter ?')"
                ><i class="fas fa-cog"></i> Logout</a>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <div class="content-header">
            <h1>Gérer les Employés RH</h1>
        </div>
        
        <div class="search-bar">
            <a href="/employe_rh/add_employe_rh">
                <button class="add-btn"><i class="fa-solid fa-user-plus"></i> Ajouter Employé RH</button>
            </a>
            <form method="GET" action="/employe_rh">
                <input type="text" name="search" placeholder="Rechercher par nom ou email" value="{{ request.args.get('search', '') }}">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        
        <div class="filter-section">
            <form method="get" action="/employe_rh">
                <div class="filter-group">
                    <label for="entrepriseFilter">Filtrer par Entreprise:</label>
                    <select name="entreprise_id" id="entrepriseFilter">
                        <option value="">Choisir Entreprise</option>
                        {% for entreprise in entreprises %}
                        <option value="{{ entreprise.Entreprise_id }}" 
                                {% if selected_entreprise_id == entreprise.Entreprise_id|string %}selected{% endif %}>
                            {{ entreprise.Ent_Nom }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="filter-button">Filtrer</button>
            </form>
        </div>
        
        <div class="container">
            <table>
                <thead>
                    <tr> 
                        <th class="idCol" style="text-align: center; width: 60px;">ID</th>
                        <th class="nomCol">Nom</th>
                        <th class="prenomCol">Prénom</th>
                        <th class="emailCol">Email</th>
                        <th class="entCol">Entreprise</th>
                        <th class="btns"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for employe in employes %}
                    <tr>
                        <td class="idCol" style="text-align: center;">{{ employe.RH_id }}</td>
                        <td class="nomCol">{{ employe.RH_Nom }}</td>
                        <td class="prenomCol">{{ employe.RH_Prenom }}</td>
                        <td class="emailCol">{{ employe.RH_email }}</td>
                        <td class="entCol">{{ employe.entreprise.Ent_Nom }}</td>
                        <td class="btns">
                            <a href="/employe_rh/edit_employe_rh/{{ employe.RH_id }}">
                                <button class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                            </a> 
                            <a href="/employe_rh/delete_employe_rh/{{ employe.RH_id }}">
                                <button class="delete-btn" onclick="return confirm('Êtes-vous sûr de supprimer ce Employé RH?')">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6" style="text-align: center; padding:20px">Aucun employé RH</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.4/dist/sweetalert2.all.min.js"></script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
               Swal.fire({
                title: "Done",
                text: "{{ messages[0] }}",
                icon: "success"
                });
            </script>
        {% endif %}
    {% endwith %}
</body>
</html>
