<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Events List</title>
    <link rel="stylesheet" href="../static/members.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.4/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head> 
<body>
    <div class="sidebar">
        <div class="sidebar-logo"><a href="/dashboard">FGE</a></div>
        <ul class="sidebar-menu">
            <li>
                <a href="/members"><i class="fas fa-users"></i> Membres</a>
            </li>
            <li>  
                <a href="/sponsors"><i class="fas fa-handshake"></i> Sponsors</a>
            </li>
            <li>
                <a href="/employe_rh"><i class="fas fa-users"></i> Employés RH</a>
            </li>
            <li class="active">
                <a href="/events"><i class="fas fa-calendar-alt"></i> Events</a>
            </li> 
            <li>
                <a href="/participants"><i class="fas fa-user-friends"></i> Participants</a>
            </li>
            <li>
                <a href="/logout" onclick="return confirm('Êtes-vous sûr de vouloir vous déconnecter ?')"
                ><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <div class="content-header">
            <h1>Gérer les événements</h1>
        </div>
         
        <div class="search-bar">
            <a href="/events/add_event">
                <button class="add-btn"><i class="fa-solid fa-user-plus"></i> Ajouter événement</button>
            </a>
            <form method="GET" action="/events">
                <input type="text" name="search" placeholder="Rechercher par année" value="{{ request.args.get('search', '') }}">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        
        <div class="filter-section">
            <form method="get" action="/events">
                <div class="filter-group">
                    <label for="clubFilter">Filtrer par Club:</label>
                    <select name="filter_club" id="clubFilter">
                        <option value="">Choisir Club</option>
                        
                        <option value="1" {% if selected_club == 1|string %}selected{% endif %}>FGE Inpt</option>
                        <option value="2" {% if selected_club == 2|string %}selected{% endif %}>FGE Ensias</option>
                        <option value="3" {% if selected_club == 3|string %}selected{% endif %}>FGE Insea</option>

                    </select>
                </div>
                <button type="submit" class="filter-button">Filtrer</button>
            </form>
        </div>
        
        <div class="container">
            <table>
                <thead>
                    <tr> 
                        <th class="yearCol">Année</th>
                        <th class="clubCol">Club organisateur</th>
                        <th class="btns"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td class="yearCol">{{ event.Year }}</td>
                        <td class="clubCol">
                            {% if event.Club_id == 1 %}
                            FGE Inpt
                            {% elif event.Club_id == 2 %}
                            FGE Ensias
                            {% elif event.Club_id == 3 %}
                            FGE Insea
                            {% else %}
                            Unknown Club
                            {% endif %}
                        </td>
                        <td class="btns">
                            <a href="/events/edit_event/{{ event.Year }}">
                                <button class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                            </a>
                            <a href="/events/delete_event/{{ event.Year }}">
                                <button class="delete-btn" onclick="return confirm('Êtes-vous sûr de supprimer ce événement?')"><i class="fa-solid fa-trash"></i></button>
                            </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3" style="text-align: center; padding:20px">Aucun événement</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.4/dist/sweetalert2.all.min.js"></script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
               Swal.fire({
                title: "Done",
                text: "{{ messages[0] }}",
                icon: "success"
                });
            </script>
        {% endif %}
    {% endwith %}
</body>
</html>
