<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>
    <p>This is a custom HTML page rendered by Flask.</p>
    <a href="/members">
        <button>Go to Member Page</button>
    </a>
    <!-- <a href="/test">
        <button>Testing</button>
    </a> -->
</body>
</html>