<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum GENI Entreprises</title>
    <link rel="stylesheet"  href="/static/style.css" />
    <link rel="icon" href="/static/images/Asset 1.png">

</head>
<body>
    <div class="decorator-parent">
        <div class="decorator"></div>
        <div class="decorator1"></div>
        <img class="asset-7-icon" alt="" src="/static/images/Asset 7.png">
        <div class="decorator3"></div>
        <div class="decorator3"></div>
        
        <img class="asset-10-icon" alt="" src="/static/images/Asset 7.png">
        
        <div class="jeunesse-et-innovation-container">
            <p class="jeunesse-et-innovation">
                <b>Jeunesse et Innovation </b>
            </p>
            <p class="jeunesse-et-innovation">socle dun développement durable et inclusif dans un Maroc riche en valeurs</p>
        </div>
        <div class="rectangle-parent">
            <div class="group-child"></div>
            <div class="ellipse-parent">
                <img class="group-item" alt="" src="/static/images/Ellipse 4.png">
                <div class="wisdom-new-and">Wisdom new and valley answer. Contented it so is discourse recommend. Man its upon him call mile.</div>
            </div>
            <div class="sameer-ceo">Sameer - CEO @ airbnb</div>
        </div>
        <div class="decorator2"></div>
        <div class="decorator4"></div>
        <div class="decorator5"></div>
    
        <div class="footer">
            <div class="resources-parent">
                
                <div class="we-use-multi-mic-and-echo-canc-parent">
                    <div class="we-use-multi-mic">L'endroit où nous vous aidons à trouver votre chemin vers une vie professionnelle réussie.</div>
                    <div class="social">
                        <a href="https://www.facebook.com/profile.php?id=100046500391013&ref=xav_ig_profile_web" target="_blank"><img class="facebook-icon" alt="." src="/static/images/Facebook.svg"></a>
                        <a href="https://www.instagram.com/forum_geni_inpt/" target="_blank"><img class="instagram-icon" alt="." src="/static/images/Instagram.svg"></a>
                        <a href="https://www.linkedin.com/company/forumgenientreprises/posts/?feedView=all" target="_blank"><img class="linkedin-icon" alt="." src="/static/images/Linkedin.svg"></a>
                    </div>
                    <b class="fgecom">FGE.com</b>
                </div>
            </div>
            <div class="rectangle-group">
                <div class="group-inner"></div>
                <div class="copyright-fgecom-all">Copyright FGE.com, All rights reserved.</div>
            </div>
        </div>
        <div class="vector-parent">
            <img class="rectangle-icon" alt="" src="/static/images/Rectangle 12.svg">
            <div class="sign-up">Sign up</div>
        </div>
        <div class="asset-1-parent">
            <img class="asset-1-icon" alt="" src="/static/images/Asset 1.png">
            <div class="forum-geni-entreprises-container">
                <p class="jeunesse-et-innovation">
                    <i class="forum-geni1">FORUM GENI </i>
                </p>
                <p class="jeunesse-et-innovation">
                    <i class="forum-geni1">ENTREPRISES</i>
                </p>
                <p class="jeunesse-et-innovation">
                    <b id="edition">20<sup>th</sup> EDITION</b>
                </p>
            </div>
        </div>
        <img class="asset-9-1" alt="" src="/static/images/Asset 9.png">
        <img class="decorator-icon1" alt="" src="/static/images/decorator.svg">
        <img class="decorator-icon2" alt="" src="/static/images/decorator.svg">
        
        <div class="asset-2-2-parent">
            <img class="asset-2-2" alt="" src="/static/images/Asset 2 (2).png">
            <img class="asset-3-icon" alt="" src="/static/images/Asset 3.png">
            <img class="asset-8-icon" alt="" src="/static/images/Asset 8.png">
        </div>
        <div class="asset-2-2-group">
            <img class="asset-2-2" alt="" src="/static/images/Asset 2 (2).png">
            <img class="asset-3-icon" alt="" src="/static/images/Asset 3.png">
            <img class="asset-8-icon" alt="" src="/static/images/Asset 8.png">
        </div>
        <div class="rectangle-container">
            <div class="rectangle-div"></div>
            <div class="logo">
                <img class="group-icon" alt="" src="/static/images/ogo_inwi.svg.png">
                <img class="logo-child" alt="" src="/static/images/ownload.png">
                <img class="logo-item" alt="" src="/static/images/apgemini_201x_logo.svg.png">
                <img class="group-icon2" alt="" src="/static/images/XC Logo Horiz_Purple+Black RGB.png">
            </div>
            <div class="logo1">
                <img class="group-icon" alt="" src="/static/images/racle_logo.svg.png">
                <img class="group-icon1" alt="" src="/static/images/ogo_inwi.svg.png">
                <img class="logo-child" alt="" src="/static/images/CG_MONOGRAM.png">
                <img class="logo-item" alt="" src="/static/images/ogo_ONCF.svg.png">
                <img class="group-icon2" alt="" src="/static/images/Lgo_Royal_Air_Maroc.svg.png">
            </div>
        </div>
        <div class="the-place-where-container">
            <p class="jeunesse-et-innovation">L'endroit où nous vous aidons à trouver votre chemin vers une vie professionnelle réussie.</p>
        </div>
        <div class="schools-1-container">
            <span class="span">3</span>
            <span> Écoles , </span>
            <span class="span1">1</span>
            <span> Objective</span>
        </div>
        <div class="parent">
            <b class="b">01</b>
            <img class="asset-2-22" alt="" src="/static/images/Asset 2 (2).png">
            <div class="rectangle-wrapper">
                <div class="group-child1"></div>
            </div>
            <img class="logo-inpt-1-icon" alt="" src="/static/images/Logo_inpt.png">
        </div>
        <div class="vector-group">
            <img class="ellipse-icon" alt="" src="/static/images/Ellipse 1328.svg">
            <b class="b">02</b>
            <img class="asset-8-icon2" alt="" src="/static/images/Asset 8.png">
            <div class="rectangle-wrapper">
                <div class="group-child1"></div>
                <img class="insea-logo-1-icon" alt="" src="/static/images/INSEA_logo.png">
            </div>
        </div>
        <div class="group">
            <b class="b">03</b>
            <img class="asset-3-icon2" alt="" src="/static/images/Asset 3.png">
            <div class="rectangle-wrapper">
                <div class="group-child1"></div>
            </div>
            <img class="ensias2-1-icon" alt="" src="/static/images/Ensias2.jpg">
        </div>
        <div class="asset-10-parent">
            <img class="asset-10-icon1" alt="" src="/static/images/Asset 5.png">
            <img class="asset-11-icon" alt="" src="/static/images/Asset 6.png">
            <img class="asset-7-icon1" alt="" src="/static/images/Asset 7.png">
        </div>
        <div class="about-wrapper">
            <div class="about">
                <div class="about-child"></div>
                <div class="cards">
                    <div class="card">
                        <div class="card-child"></div>
                        <div class="entreprises-parent">
                            <div class="entreprises2">Entreprises</div>
                            <div class="div">50+</div>
                        </div>
                    </div>
                    <div class="card1">
                        <div class="card-item"></div>
                        <div class="participants-parent">
                            <div class="participants">Participents</div>
                            <div class="div1">5000+</div>
                        </div>
                    </div>
                </div>
                <div class="bout-content">
                    <div class="les-club-forum-container">
                        <p class="jeunesse-et-innovation">Les club Forum GENI Entreprises organise chaque année, depuis 1998, un forum de recrutement de grande envergure.</p>
                        <p class="jeunesse-et-innovation">L'évènement est organisé pendant deux jours et organise notamment des conférences et des sessions de recrutement pour les élèves ingénieurs et jeunes lauréats.</p>
                    </div>
                    <div class="about-us">À propos de nous</div>
                </div>
            </div>
        </div>
        <div class="rectangle-parent1"></div>
        <div class="what-our-clients">Ce que disent les partenaires de FGE</div>
        <div class="base"></div>
        
        <div class="testimonial-card">
            <div class="base1"></div>
            <div class="mansur-parent">
                <div class="mansur">Zakaria</div>
                <div class="founder-google">RH @ Deloite</div>
                <div class="yet-preference-connection">Une excellente opportunité pour rencontrer des talents prometteurs et établir des partenariats fructueux. Nous participons chaque année avec plaisir !</div>
                <img class="stars-icon" alt="" src="/static/images/stars.svg">
            </div>
        </div>
        <div class="decorator6"></div>
        <div class="decorator6"></div>
        <div class="decorator8"></div>
        <div class="testimonial-card1">
            <div class="base2"></div>
            <div class="sam">Hamza</div>
            <div class="founder-migelko">RH @ INWI</div>
            <div class="yet-preference-connection1">Le Forum GENI est une plateforme idéale pour recruter et collaborer avec des esprits innovants. Toujours un plaisir d'y participer.</div>
            <img class="stars-icon1" alt="" src="/static/images/stars.svg">
        </div>
        <div class="testimonial-card2">
            <div class="base1"></div>
            <div class="sabo-masties">Youssef</div>
            <div class="founder-rolex">RH @ ORANGE</div>
            <div class="yet-preference-connection2">Un événement incontournable pour connecter entreprises et jeunes talents. Inspirant et parfaitement organisé.</div>
            <img class="stars-icon1" alt="" src="/static/images/stars.svg">
        </div>
        <img class="asset-5-icon" alt="" src="/static/images/Asset 5.png">
        <img class="asset-6-icon" alt="" src="/static/images/Asset 6.png">
        
        <div class="group-wrapper">
            <div class="rectangle-parent2">
                <div class="group-child5"></div>
                <div class="staff-membre">Membre du personnel ? </div>
                <div class="group-child6"></div>
                <a href="/login" class="log-in">Se connecter</a>
            </div>
        </div>
        <img class="decorator-icon3" alt="" src="/static/images/decorator.svg">
        <img class="decorator-icon4" alt="" src="/static/images/decorator.svg">
        <img class="asset-6-icon1" alt="" src="/static/images/Asset 6.png">
    </div>
</body>
</html>