<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members List</title>
</head>
<body>
    <h1>Members List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Rôle</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td>{{ member.Membre_id }}</td>
                <td>{{ member.Nom }}</td>
                <td>{{ member.Prenom }}</td>
                <td>{{ member.Email }}</td>
                <td>{{ member.Role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
