<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Members List</title>
    <link rel="stylesheet" href="/static/members.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.4/dist/sweetalert2.min.css" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="sidebar">
        <div class="sidebar-logo"><a href="/dashboard">FGE</a></div>
        <ul class="sidebar-menu">
            <li class="active"> 
                <a href="/members"><i class="fas fa-users"></i> Membres</a>
            </li>
            <li> 
                <a href="/sponsors"><i class="fas fa-handshake"></i> Sponsors</a>
            </li>
            <li>
                <a href="/employe_rh"><i class="fas fa-users"></i> Employés RH</a>
            </li>
            <li>
                <a href="/events"><i class="fas fa-calendar-alt"></i> Events</a>
            </li>
            <li>
                <a href="/participants"><i class="fas fa-user-friends"></i> Participants</a>
            </li> 
            <li>
                <a href="/logout" onclick="return confirm('Êtes-vous sûr de vouloir vous déconnecter ?')"
                ><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
            </li>
        </ul> 
    </div> 

    <div class="main-content">
        <div class="content-header"> 
            <h1>Gérer les membres</h1>
            
        </div>
        <div class="search-bar">
            <a href="/members/add_member">
                <button class="add-btn"><i class="fa-solid fa-user-plus"></i> Ajouter membre</button>
            </a>
            <form method="GET" action="/members">
                <input type="text" name="search" placeholder="Rechercher par nom ou email" value="{{ request.args.get('search', '') }}">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        
        <div class="filter-section">
            <form method="get" action="/members">
                <div class="filter-group">
                    <label for="clubFilter">Filtrer par Club:</label>
                    <select name="Club_id" id="clubFilter">
                        <option value="">Tous</option>
                        <option value="1">FGE Inpt</option>
                        <option value="2">FGE Ensias</option>
                        <option value="3">FGE Insea</option>
                    </select>
                </div>
                
                <fieldset>
                    <legend>Filter by Cellules:</legend>
                    <label>
                        <input type="checkbox" name="Cellule_id" value=""> Tous
                    </label>
                    <label>
                        <input type="checkbox" name="Cellule_id" value="1"> Media
                    </label>
                    <label>
                        <input type="checkbox" name="Cellule_id" value="2"> Technique
                    </label>
                    <label>
                        <input type="checkbox" name="Cellule_id" value="3"> Logistique
                    </label>
                    <label>
                        <input type="checkbox" name="Cellule_id" value="4"> Prospection
                    </label>
                    <label>
                        <input type="checkbox" name="Cellule_id" value="5"> Rédaction
                    </label>
                    <label>
                        <input type="checkbox" name="Cellule_id" value="6"> Sponsoring
                    </label>
                </fieldset>
                
                <button type="submit" class="filter-button">Filtrer</button>
            </form>
        </div>
        
        <div class="container">
            <table>
                <thead>
                    <tr> 
                        <th class="idCol">ID</th>
                        <th class="nomCol">Nom</th>
                        <th class="prenomCol">Prénom</th>
                        <th class="emailCol">Email</th>
                        <th class="roleCol">Rôle</th>
                        <th class="clubCol">Club</th>
                        <!-- <th class="cellulecol">Cellules</th> -->
                        <th class="btns"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                    <tr>
                        <td class="idCol" style="text-align: center;">{{ member.Membre_id }}</td>
                        <td class="nomCol">{{ member.Nom }}</td>
                        <td class="prenomCol">{{ member.Prenom }}</td>
                        <td class="emailCol">{{ member.Email }}</td>
                        <td class="roleCol">{{ member.Role }}</td>
                        <td class="clubCol">
                            {% if member.Club_id == 1 %}
                            FGE Inpt
                            {% elif member.Club_id == 2 %}
                            FGE Ensias
                            {% elif member.Club_id == 3 %}
                            FGE Insea
                            {% else %}
                            Unknown Club
                            {% endif %}
                        </td>
                        <!-- <td class="cellulecol">Sponsoring, media, design</td> -->
                        <td class="btns">
                            <a href="/members/edit_member/{{ member.Membre_id }}">
                                <button class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                            </a>
                            <a href="/members/delete_member/{{ member.Membre_id }}">
                                <button class="delete-btn" onclick="return confirm('Êtes-vous sûr de supprimer ce membre?')"><i class="fa-solid fa-trash"></i></button>
                            </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="7" style="text-align: center; padding:20px">Aucun membre</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.4/dist/sweetalert2.all.min.js"></script>

    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
               Swal.fire({
                title: "Done",
                text: "{{ messages[0] }}",
                icon: "success"
                });
            </script>
        {% endif %}
    {% endwith %}
</body>
</html>